# eclipse stuff
.cache
.classpath
.project
.settings
.scala_dependencies
.worksheet
# sbt stuff
target/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
# compiled stuff and caches
**.class
**.cache
**.log
.history
# swap files
*.swp
